.main-container {
    margin-top: 30px;
}

.table {
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
}

.th {
    padding: 15px;
    text-align: center;
    border: 2px solid white;
    background-color: #666699;

}

.td {
    padding: 15px;
    text-align: center;
    border-right: 2px solid white;
}